# Hands on Python

Python - object-oriented language. therefore it uses classes to define data types.

Python Data Types:
<ol>
  <li>Numeric types: int, float, complex;.</li>
  <li>Sequence type: lis, tuple, range;</li>
  <li>Mapping type: dict;</li>
  <li>Boolean type: bool;</li>
  <li>Binary types: bytes, bytearray, memoryview.</li>
</ol>

<h1>Basic Data Types</h1>

<h2>Basic Data Types</h2>

Whenever is required to specify the type on to a variable, this can be executed with casting.

Casting in python is therefore done using constructor functions:

* int() - constructs an integer number from an integer literal, a float literal (by removing all decimals), or a string literal (providing the string represents a whole number);

* float() - constructs a float number from an integer literal, a float literal or a string literal (providing the string represents a float or an integer);

* str() - constructs a string from a wide variety of data types, including strings, integer literals and float literals

<h3>Numbers</h3>

In [1]:

x = int(1)     # X = 1   
y = int(2.9)   #Y = 2
z = int("3")   #Z = 3
x,y,z

(1, 2, 3)

In [2]:
#floats
x = float(1)     # x will be 1.0
y = float(2.8)   # y will be 2.8
z = float("3")   # z will be 3.0
w = float("4.2") # w will be 4.2
x,y,z,w

(1.0, 2.8, 3.0, 4.2)

In [3]:
#complex

x = 1j
x

1j

In [4]:
#Numbers
x = 3
print(x, type(x))

3 <class 'int'>

Python Operators:
* Arithmetic operator
* Assignement operators
* Comparison operators;
* Logical operators;
* Bitwise operators;
* Membership operators.

In [5]:
print(x + 1)     # addition
print(x - 1)     # subtraction
print(x * 2)     # multiplication
print(x ** 2)    # exponentiation

4
2
6
9

In [6]:
x += 1          # performs x = x + 1
print(x)
x *= 2          # performs x = x * 2, as x is now equal to 4, x = 4 * 2
print(x)

4
8

In [7]:
y = 2.5
print(y, type(y))
print(y, y + 1, y * 2, y ** 2)

2.5 <class 'float'>
2.5 3.5 5.0 6.25

Unlike many languages, Python does not have unary increment (x++) or decrement (x--) operators.

Python also has built-in types for long integers and complex numbers; you can find all of the details in the [documentation](https://docs.python.org/3.7/library/stdtypes.html#numeric-types-int-float-long-complex).

<h3>Booleans</h3>
Python implements all of the usual operators for Boolean logic, but uses English words rather than symbols (&&, ||, etc.):

In [8]:
t, f = True, False
print(t, f, type(t), type(f))

True False <class 'bool'> <class 'bool'>

Now we let's look at the operations:

In [9]:
print(t and f)  # Logical AND
print(t or f)   # Logical OR
print(not t)    # Logical NOT
print(t != f)   #Logical XOR

False
True
False
True

<h3>Strings</h3>

In [10]:
hello = "Hello"   # string literals can use single quotes
world = "World!"  # or double quotes; it doesn't matter
print(hello, len(hello))

Hello 5

In [11]:
hw = hello + ' ' + world  # string concatenation.... space between: + ' [space]' + 
print(hw)

Hello World!

In [12]:
hw12 = '{} {} {}'.format(hello, world, 12)  #string formatting
print(hw12)

Hello World! 12

It's possible to assign a multiline string to a variable by using three quotes """ """

In [13]:
str_multi = """Hoje vamos aprender Python mas,
alguns alunos podem já terem tido contato anteriormente.
Convém relembrar! """
print(str_multi)

Hoje vamos aprender Python mas,
alguns alunos podem já terem tido contato anteriormente.
Convém relembrar!

String objects have a bunch of useful methods, for example:

In [14]:
s = "geoffrey"
print(s.capitalize())             # Capitalize a string
print(s.upper())                  # convert a string to uppercase; will print 'GEOFFREY'
print(s.rjust(99))                # Right-justify a string, padding with spaces
print(s.center(50))               # Center a string, padding with spaces 
#print(s.replace('1', '(ell)'))    # Replace all instance of one substring with another
print('  Spencer'.strip())        # Strip leading and trailing whitespace

Geoffrey
GEOFFREY
                                                                                           geoffrey
                     geoffrey
Spencer

<h3>Containers</h3>

Python does not present a built-in support for arrays. A list can be a resizeable and contain elements of different types. 
It can be written as a list of comma-separated values (items) between square backets.

In [15]:
xs = [3, 1, 2]      # create a list
print(xs, xs[2])    # prints out the list xs, and the value at position 2
print(xs[-1])       # negative indices count from end of the list; will print '2'

[3, 1, 2] 2
2

In [16]:
xs[2] = 'foo'       #lists can contain elements of different types
print(xs)

[3, 1, 'foo']

In [17]:
xs.append('bar')   # adds a new element to the end of the list
print(xs)

[3, 1, 'foo', 'bar']

In [18]:
x = xs.pop()       # remove and return the last element of the list
print(x, xs)

bar [3, 1, 'foo']

<h3>Slicing</h3>

Furthermore, to accessing list elements one at a time, Python provides concies syntax to access sublists; which is known as slicing

In [19]:
name = "Computer Vision"

print(name[0:2])           # prints from position 0 (included) to 2 (excluded) ---- position 0 & 1
print(name[9:14])          # prints from position 9 (included) to position 14 (excluded) ------ position 9 & 13
print(name[9:])            # prints from position 9 and the remaining positions

nums = list(range(5))      # range is a built-in function that creates a list of integers
print(nums)                   # Prints "[0, 1, 2, 3, 4]"

print(nums[2:4])           # gets a slice from index 2 to 4 ----- position 2 & 3
print(nums[2:])            # gest slice from position 2 to the end; prints out [2, 3, 4]
print(nums[:2])            # gets slice from previous positions to position 2 --- gets slice from the begining to index 2 --- position 0 & 1 excluding position 2 and the rest
print(nums[:])             # gets slice for the whole list
print(nums[:-1])           # slice indices can be negative, prints [0, 1, 2, 3]

nums[2:4] = [8,9]          # assign new sublist to a slice ----- assignement executed to position/index 2 & 3 excluding index 4
print(nums)

Co
Visio
Vision
[0, 1, 2, 3, 4]
[2, 3]
[2, 3, 4]
[0, 1]
[0, 1, 2, 3, 4]
[0, 1, 2, 3]
[0, 1, 8, 9, 4]

The built-in function *range()* generates arithmetic progressions. It is possible to specify the start and the end value (this last one is out of the generated sequence). It is also possible to specify a ‘step’ increment (which can be negative).

In [20]:
print( list(range(0, 10, 3)) )            # from 0 to 10, from 3 to 3

print( list(range(-10, -100, -30)) )      # from -10 to -100, from -30 to -30

[0, 3, 6, 9]
[-10, -40, -70]

<h3>Dictionaires</h3>

Dictionaires are indexed by keys, which can be an immutable type; strings and numbers can always be keys (uniques).
* A pair of braces creates an empty dictionary: {} ;
* It is also possible to *delete* a key: value pair with *del* ;
* To check whether a single key is in the dictionary, use the *in* keyword ;
* the *dict()* constructor builds dictionaries directly from sequences of key-value pairs.

A dictionary stores (key:value) pairs:

In [21]:
d = {'cat': 'cute', 'dog': 'furry'}     # creates a new dictionary with some data 
print(d['cat'])                         # get an entry from a dictionary; prints 'cute'
print('cat' in d)                       # checks if a dictionary has a given key; prints "True"

cute
True

In [22]:
d['fish'] = 'wet'                       # set an entry in a dictionary
print(d['fish'])                        # prints 'wet'

wet

In [23]:
print(d['monkey'])                      # KeyError: 'monkey' not a key of d (dictionary)

KeyError: 'monkey'

In [24]:
print(d.get('monkey', 'N/A'))           # gets an element with a default: prints 'N/A'
print(d.get('fish', 'N/A'))

N/A
wet

In [25]:
del d['fish']                           # remove fish from the dictionary
print(d.get('fish', 'N/A'))

N/A

It is easy to iterate over the keys in a dictionary:

In [26]:
d = {'person': 2, 'cat': 4, 'spider': 8}

for animal, legs in d.items():                        # animal holds the [keys] and legs hold the [value]
    print('A {} has {} legs'.format(animal, legs))

A person has 2 legs
A cat has 4 legs
A spider has 8 legs

<h3>Sets</h3>

A set is an unordered collection of distinct elements
* There is no duplicate elements;
* Support mathematical operations like *union*, *intersection*, *difference* and *symmetric difference*
* *set()* function (of {}) can be used to create sets. To create an empty set you have to use *set()*

In [27]:
animals = {'cat', 'dog'}
print('cat' in animals)       # check if an element is in a set and prints 'True'
print('fish' in animals)     # will print 'False', since element is not in the set

True
False

In [28]:
animals.add('fish')           # adds 'fish' to the set
print('fish' in animals)
print(len(animals))

True
3

In [29]:
animals.add('cat')             # adding an element that is already in the set does nothing
print(len(animals))
animals.remove('cat')          # removes an element from the set
print(len(animals))

3
2

Loops: iterating over a set has the same syntax as iterating over a list; however since sets are unordered, you cannot make assumptions about the order in which you visit the elements of the set:

In [30]:
animals = {'cat', 'dog', 'fish'}
for idx, animal in enumerate(animals):
    print('#{}: {}'.format(idx + 1, animal))

#1: cat
#2: fish
#3: dog

<h3>Tuples</h3>

A Tuple is an (immutable) ordered list of values. A tuple is in many ways similar to a list; one of the most important differences is that tuples can be used as keys in dicitonaries and as elements of sets, while lists cannot. Here is a trivial example:

In [31]:
empty_tuple = ()          #empty pair of parentheses
single_tuple = 'hello',    # note trailing comma

t = 32, 56, 'hello!'
print(t[0])
print(t)

u = t, (1, 2, 3, 4)     # Nested tuples
print(u)

32
(32, 56, 'hello!')
((32, 56, 'hello!'), (1, 2, 3, 4))

In [32]:
# tuples are immutable
t[0] = 1                # Traceback( most recent call last)

TypeError: 'tuple' object does not support item assignment

In [33]:
d = {(x, x + 1): x for x in range(10)}     # create a dictionary wirh tuple keys
t = (5,6)
print(type(t))
print(d[t])
print(d[(1, 2)])

<class 'tuple'>
5
1

<h3>if statements</h3>

In [34]:
x = int(input("Please enter an integer: "))

if x < 0: 
    x = 0
    print('Negative changed to zero')
elif x == 0:
    print('Zero inserted')
elif x == 1:
    print('One inserted')
else:
    print('More')

Please enter an integer: 10
More

In [35]:
Note = """if a:
    do this
elif b:
    do that
elif c:
    do something else
else:
    print "none of the above"
is equivalent to (exactly the same as) this:

if a:
    do this
if (not a) and b:
    do that
if (not a) and (not b) and c:
    do something else
if (not a) and (not b) and (not c):
    print "none of the above"
    """
print(Note)                           # if, elif,....else

if a:
    do this
elif b:
    do that
elif c:
    do something else
else:
    print "none of the above"
is equivalent to (exactly the same as) this:

if a:
    do this
if (not a) and b:
    do that
if (not a) and (not b) and c:
    do something else
if (not a) and (not b) and (not c):
    print "none of the above"

<h3>Loop statements</h3>

Python for statement iterates over the items of any list or string in the order that they are appeaing in the sequence.
You can loop over the elements of a list like this:

In [36]:
# for

animals = ['cat', 'dog', 'monkey']
for animal in animals:
    print(animal, len(animals))

cat 3
dog 3
monkey 3

If it s intended to access to the index of each element within the body of a loop, use the built-in *enumerate* function. This function returs a tuple containing a count (from start which defaults to 0) and the values.

In [37]:
animals = ['cat', 'dog', 'monkey']

animals_enum = list(enumerate(animals))
print(animals_enum)                      # (idx_0, object_0), (idx_1, object_1), ...

animals_enum = list(enumerate(animals, start = 10))
print(animals_enum)                      # (idx_0 + Start, object_0), (idx_1 + Start, object_1), ...

for idx, animal in enumerate(animals):
    print('{}: {}'.format(idx + 1, animal))

[(0, 'cat'), (1, 'dog'), (2, 'monkey')]
[(10, 'cat'), (11, 'dog'), (12, 'monkey')]
1: cat
2: dog
3: monkey

In [38]:
fruit = ["apple", 'banana', 'orange']
for i in range(len(fruit)):
    print(fruit[i], i)

apple 0
banana 1
orange 2

while statement repeats the execution oas long as an expression is true:

In [39]:
x = 0 
while x < 5:
    print(x)
    x+=1

0
1
2
3
4

<h3>break and continue Statements, and else clause on Loops</h3>

the 'break' statement breaks out of the innermost enclosing for or while lopp

An 'else' on a loop statements is executed whrn the loop terminates through exhaustion of the iterable (with for) or when the condition becomes false (with while)

it is not executed when the loop is terminated by a break statement

In [41]:
for n in range(1, 5):
    for x in range(1, 3):
        if n > x:
            print(n, 'is bigger than x = ', x)
            break
        else:
            print('ending x = ', x)

ending x =  1
ending x =  2
2 is bigger than x =  1
3 is bigger than x =  1
4 is bigger than x =  1

h3>List comprehensions:</h3>

When programming, frequently we want to transform one type of data into another. As a simple example, consider the following code that computes square numbers:

In [43]:
nums = [0, 1, 2, 3, 4]
squares = []
for x in nums:
    squares.append(x**2)
print(squares)

# .append - adds an element to a list

[0, 1, 4, 9, 16]

This can be written using list comprehensions:

In [44]:
nums = [0, 1, 2, 3, 4]
squares = [x**2 for x in nums]
print(squares)

[0, 1, 4, 9, 16]

List comprehensions can also contain conditions:

In [45]:
nums = [0, 1, 2, 3, 4]
even_squares = [x ** 2 for x in nums if x % 2 == 0]     # iterates over x and check if x is even (par)  
print(even_squares)

[0, 4, 16]

Dictionary comprehensions: These are similar to list comprehensions, but allow you to easily construct dictionaries. For example:

In [46]:
nums = [0, 1, 2, 3, 4]
even_num_to_square = {x: x ** 2 for x in nums if x % 2 == 0}
print(even_num_to_square)

{0: 0, 2: 4, 4: 16}

Set comprehensions: like lists and dictionaries, we can easily construct sets using set comprehensions:

In [48]:
from math import sqrt
print({int(sqrt(x)) for x in range(50)}) #49, 36, 25, 16, 9, 4, 1, 0

{0, 1, 2, 3, 4, 5, 6, 7}

<h3>Functions</h3>

Functions in Python are defined using 'def' keyword.

In [50]:
def sign(x):
    if x > 0:
        return 'positive'
    elif x < 0:
        return 'negative'
    else:
        return 'zero'

for x in [-1, 0, 1]:
    print(sign(x))

negative
zero
positive

Functions will be often defined to take optional keyword arguments, like this:

In [51]:
def hello(name, loud=False):        #Default Argument Values
    if loud:
        print('HELLO, {}'.format(name.upper()))
    else:
        print('Hello, {}!'.format(name))
        
hello('Bob')
hello('Fred', loud=True)

# if loud is 'True' message msg will be written in CAPITAL LETTERS

Hello, Bob!
HELLO, FRED

The return statement returns with a value from a function.
'return' without an expression argument returns None. Falling off the end of a function also returns None.
the method result.append(a) calls a method of the list object result

In [53]:
def fib2(n):        #return Fibonacci series up to n
    result = []
    a, b = 0, 1
    while a < n:
        result.append(a)
        a, b = b, a+b
    return result

f100 = fib2(100)
print(f100)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

<h3>Classes</h3>

Definition of Classes in Python is straightforward:

In [ ]:
class Greeter:
    """A simple class example"""
    i = 12345
    
    #constructor
    def __init__(self, name):
        self.name = name         # create an instance ariable
        
    #instance method
    def greet(self, loud=False):
        if loud:
            print('HELLO, {}'.format(self.name.upper()))
        else:
            print('Hello, {}!'.format(self.name))
            
g = Greeter('Fred')                 # construct an instance of the Greeter class
g.greet()                           # Call an instance method; prints "Hello, fred"
g.greet(loud=True)                  # Call an instance method; prints "HELLO, FRED!"